/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
    background-image: url('https://i.postimg.cc/9MYkc8pk/temp-Image-NBlt-Sm.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

.headerdiv {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgb(48,110,133);
    background: linear-gradient(0deg, rgba(48,110,133,1) 0%, rgba(71,160,191,1) 100%);
    padding: 40px;
    margin: 20px;
    text-align: center;
    color: white;
}

.articlediv {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    padding: 40px;
    margin: 20px;
    text-align: left;}

.novitadiv {
    background-color: lightgrey;
    padding: 40px;
    text-align: left;}

.novitadiv {
    background-color: lightgrey;
    padding: 40px;
    text-align: left;}

.table {
        border-collapse: collapse;
        width: 100%;
      }
      
      caption{
        font-weight: bold;
        font-style: italic;
      }

      th, td {
        text-align: left;
        padding: 8px;
      }

      th {
        background-color: #4266c2;
        color: white;
      }
      
      tr:nth-child(odd) {
        background-color: LightGray;
      }

.whitea {
    color: white;
}

.author {
    color: LightGray;
}

.video {
    border-radius: 25px;
}

.iscriviti {
    background-color: blue;
  }